

    .logo{
        position: absolute;
        top: 1%;
        margin-left: 46%;  
       
    }

    .logo:hover{
        transition: 0.1s;
        transform: scale(1.1,1.1);
    }
    
    .menu{
        
        text-align: center;
        font-size: 175%;
        text-transform: uppercase;
        list-style: none;
        display: inline-block;
        width: 100%;
        background: $colorprincipal;
        

        li{
        
            display: inline-block;
            margin-left: 6%;
            margin-right: 6%;
            margin-top: 1.5%;
            margin-bottom: 1.5%;
            font-family: 'Roboto', sans-serif;
            font-family: 'Roboto Condensed', sans-serif;


            a{
                text-decoration:none;
                color: black;
            }
            a:hover{
        
                color: white; 
                text-decoration: none
            }
        }
    }
 .submenu{
        font-size: 100%;
    }
 

    

   
   