.post_fac{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5.5%;
    margin-bottom: 5.4%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.postu{
    display: flex;
    flex-direction: column;
    justify-content: space-around 10px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 2px;
    
    width: 265px;
    height: 365px;
    flex: 0 0 auto;
    background-color: rgba(255, 0, 242, 0.089);
    font-family: 'Alumni Sans', sans-serif;
    
        h2{
            color: white;
            font-family: 'Alumni Sans', sans-serif;
        }
        h3{
            font-size: large;
            margin-top: 10%;
            color: white;
        }
        p{
            color: white;
            font-family: 'Alumni Sans', sans-serif;
            font-size: 15px;
        }

}

.postu:hover{
    background: rgb(140, 0, 255);
}

.postulacion{
    font-family: 'Alumni Sans', sans-serif;
    text-decoration:none;
    margin: 1%;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.post{
    border: 2px;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10%;

    text-decoration: none;
}

.post:hover{
    text-decoration: none;
    background-color: grey;
}
