* {
  Margin: 0;
  padding: 0;
}

* body {
  background-image: url(https://cdn.discordapp.com/attachments/804772062631165963/855488602276626462/transG.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*####################
    #      HEADER      #
    ####################*/
.logo {
  position: absolute;
  top: 1%;
  margin-left: 46%;
}

.logo:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.menu {
  text-align: center;
  font-size: 175%;
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  width: 100%;
  background: blueviolet;
}

.menu li {
  display: inline-block;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  color: white;
  text-decoration: none;
}

.submenu {
  font-size: 100%;
}

/*####################
    #      FOOTER      #
    ####################*/
.footer {
  position: bottom 0;
  display: inline-block;
  background: blueviolet;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: white;
  list-style: none;
}

.footer li {
  display: inline;
}

#texto-footer {
  display: inline;
  font-size: 13px;
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.redes {
  clear: both;
  float: right;
  text-align: right;
  color: black;
  border-left: 0%;
  margin-right: 10px;
}

.redes li a {
  text-decoration: none;
  margin-right: 10px;
  color: white;
}

.redes li a:hover {
  color: black;
  text-decoration: none;
}

/*#####################
    #   POSTULACIONES   #
    #####################*/
.post_fac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5.5%;
  margin-bottom: 5.4%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.postu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-around 10px;
      -ms-flex-pack: space-around 10px;
          justify-content: space-around 10px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding: 2px;
  width: 265px;
  height: 365px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: rgba(255, 0, 242, 0.089);
  font-family: 'Staatliches';
}

.postu h2 {
  color: white;
  font-family: 'Staatliches';
}

.postu h3 {
  font-size: large;
  margin-top: 10%;
  color: white;
}

.postu p {
  color: white;
  font-family: 'Staatliches';
  font-size: 15px;
}

.postu:hover {
  background: #8c00ff;
}

.postulacion {
  font-family: 'Staatliches';
  text-decoration: none;
  margin: 1%;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.post {
  border: 2px;
  background-color: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10%;
  text-decoration: none;
}

.post:hover {
  text-decoration: none;
  background-color: grey;
}

/*#################################
    #      INDEX Y NORMATIVAS       #
    #################################*/
.body {
  display: block;
  text-align: center;
  margin-top: 13.5%;
  margin-bottom: 12.5%;
  color: white;
}

#txt {
  font-size: 400%;
  font-family: 'Roboto', sans-serif;
}

#txt2 {
  font-size: 250%;
  font-family: 'Roboto', sans-serif;
}

.button1 {
  font-family: 'Staatliches';
  font-size: 2rem;
  display: block;
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 1rem 1rem;
  border: 2px solid #555555;
  background-color: Transparent;
  color: #555555;
  width: 30vw;
  text-decoration: none;
}

.button1:hover {
  text-decoration: none;
  color: white;
  border-color: #cecece;
}

.norm {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  margin-top: 7%;
  margin-bottom: 7%;
  color: white;
}

/*#####################
    #     donaciones    #
    #####################*/
.scroll h1 {
  color: white;
  font-size: xx-large;
  margin-top: 40px;
  margin-left: 70px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-around 10px;
      -ms-flex-pack: space-around 10px;
          justify-content: space-around 10px;
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding: 2px;
  width: 200px;
  height: 270px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: rgba(255, 0, 242, 0.089);
  font-family: 'Staatliches';
}

.item h2 {
  color: white;
  font-family: 'Staatliches';
}

.item h3 {
  color: white;
  font-family: 'Staatliches';
}

.item p {
  color: white;
  font-family: 'Staatliches';
  font-size: 15px;
}

.item:hover {
  background: #8c00ff;
}

.cartas {
  font-family: 'Staatliches';
  text-decoration: none;
  margin: 1%;
  margin-left: 4%;
  margin-top: 5.5%;
  margin-bottom: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.list {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
  padding-left: 15px;
  list-style: none;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.buy {
  border: 2px;
  background-color: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10%;
  text-decoration: none;
}

.buy:hover {
  text-decoration: none;
  background-color: grey;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

/*#####################
    #      nosotros     #
    #####################*/
@media screen and (max-width: 1023px) {
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .div1 {
    width: 0%;
    height: 0%;
  }
  .div1 img {
    width: 0%;
  }
  .div2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: white;
    text-align: justify;
    margin: 15px;
  }
  .div3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .div4 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .sponsor {
    text-align: center;
    margin-top: 150px;
    font-size: 290%;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .sponsor a {
    text-decoration: none;
    color: white;
  }
  .sponsor a:hover {
    color: white;
  }
  .sponsors {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 20px;
  }
  .abc {
    text-decoration: none;
    color: white;
  }
  .abc:hover {
    color: #ff00d4;
  }
  .tienda {
    font-size: 150%;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(145, 145, 145, 0.459);
  }
  .info_tienda {
    background-color: rgba(145, 145, 145, 0.199);
  }
  .info_tienda ul {
    list-style: none;
  }
  .fun {
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
  }
  .pjs {
    font-size: 150%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pj {
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
  }
  .pj img {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .parent {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .div1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 3 / 2;
  }
  .div2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 1 / 2 / 2 / 4;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
    color: white;
    text-align: justify;
    margin-top: 150px;
    margin-left: 50px;
  }
  .div4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / 3 / 4;
    margin-left: 100px;
  }
  .sponsor {
    text-align: center;
    margin-top: 150px;
    font-size: 290%;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .sponsor a {
    text-decoration: none;
    color: white;
  }
  .sponsor a:hover {
    color: white;
  }
  .sponsors {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 20px;
  }
  .abc {
    text-decoration: none;
    color: white;
  }
  .abc:hover {
    color: #ff00d4;
  }
  .tienda {
    font-size: 150%;
    text-align: center;
    margin-top: 30px;
    background-color: rgba(145, 145, 145, 0.459);
  }
  .info_tienda {
    padding-left: 25px;
    background-color: rgba(145, 145, 145, 0.199);
  }
  .info_tienda ul {
    list-style: none;
  }
  .div3 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 1 / 4 / 3 / 5;
  }
  .fun {
    margin-top: 15%;
    margin-left: 30%;
    font-size: 290%;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .pjs {
    font-size: 80%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pj {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
    text-align: center;
  }
  .pj img {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */